{% extends "base_layout.html" %}

{% block title %}Planning Poker{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="join-container">
        <p class="info-text">Open this URL to enter the voting room:</p>
        <div class="link-container">
            <label for="room-link"></label>
            <input type="text" class="room-link-input" id="room-link" readonly>
        </div>
        <button id="join-room" class="join-room-button">Open room URL</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
