<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room {{ room_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
</head>
<body>
{% include 'includes/header.html' %}

<div class="modal-overlay hidden" id="display-name-popup">
    <div class="modal-content">
        <h2>Choose your display name</h2>
        <input type="text" placeholder="Your display name" class="display-name-input" id="display-name-input-id">
        <div class="error-message hidden" id="error-message">Please enter a display name.</div>
        <button class="join-button" id="join-button">Join the room</button>
    </div>
</div>
<div class="user-card-container">
    <div id="user-card">
    </div>
</div>
<div id="participants">
    <h2>Participants (<span id="participants-count">0</span>):</h2>
    <div id="participants-list">
    </div>
</div>
<div id="voting-interface">
    <button id="start-voting">Start new voting</button>
    <div id="voting-buttons" class="hidden">
        <button class="vote-button" data-value="1">1</button>
        <button class="vote-button" data-value="2">2</button>
        <button class="vote-button" data-value="3">3</button>
        <button class="vote-button" data-value="5">5</button>
        <button class="vote-button" data-value="8">8</button>
        <button class="vote-button" data-value="13">13</button>
        <button class="vote-button" data-value="21">21</button>
        <button class="vote-button" data-value="34">34</button>
    </div>
    <button id="end-voting" class="hidden">Finish voting</button>
    <div id="results" class="hidden">
        <h2>Vote Results</h2>
        <div id="average">
            <span id="average-label">Average:</span>
            <span id="average-value">0</span>
        </div>
        <div id="votes-list">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='room.js') }}"></script>
</body>
</html>
